In [0]:
# import pyspark
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName('practice').getOrCreate()

# # list of data 
data = [[1,"A"],[2,"B"],[3,"C"]]

columns = ["Roll no","Name"]

dataframe = spark.createDataFrame(data,columns)

In [0]:
dataframe.show()

+-------+----+
|Roll no|Name|
+-------+----+
|      1|   A|
|      2|   B|
|      3|   C|
+-------+----+

In [0]:
df = spark.read.csv('/FileStore/tables/SalesTeam-4.csv')

Basic operations on pySpark Dataframe

In [0]:
df.show()

+-----------------+----------------+--------------------+----------------+
|              _c0|             _c1|                 _c2|             _c3|
+-----------------+----------------+--------------------+----------------+
|        Sales Rep|    Sales Rep Id|        Company Name|      Company Id|
|Jessie Mcallister|97UNNAT790E0WM4N|Chimera-Chasing C...|LJKS5NK6788CYMUU|
|Jessie Mcallister|97UNNAT790E0WM4N|    Tangential Sheds|36MFTZOYMTAJP1RK|
|Jessie Mcallister|97UNNAT790E0WM4N|       Two-Mile Grab|H3JRC7XX7WJAD4ZO|
|Jessie Mcallister|97UNNAT790E0WM4N|Three-Men-And-A-H...|HB25MDZR0MGCQUGX|
|Jessie Mcallister|97UNNAT790E0WM4N|Biophysical Battl...|7RVA8TIVBLBXMNO4|
|Jessie Mcallister|97UNNAT790E0WM4N|    Verbal Greenwich|KKM6EZRN9W5NYXP6|
|Jessie Mcallister|97UNNAT790E0WM4N|Unpremeditated He...|NBJDWUB8J2DHLH29|
|Jessie Mcallister|97UNNAT790E0WM4N|    Excitatory Joint|D3Q0HECTK80RRGGO|
|Jessie Mcallister|97UNNAT790E0WM4N|          Dandy Fist|KGJBNJQHPF0WZ6SI|
|Jessie Mcallister|97UNNAT790E0WM4N|      Various Caesar|7FLAHMERFCITB6RT|
|Jessie Mcallister|97UNNAT790E0WM4N|Unhesitant Caperc...|JYRK7UHZXGX4DLSX|
|Jessie Mcallister|97UNNAT790E0WM4N|Priestly Item-Cat...|TAW7IY2L2IKUCCGC|
|Jessie Mcallister|97UNNAT790E0WM4N|Paleocortical Boa...|NUQS9SHQH6IU92V8|
|Jessie Mcallister|97UNNAT790E0WM4N|Editorial Paintbrush|PQ79N68UEQ9FFCPU|
|Jessie Mcallister|97UNNAT790E0WM4N|       Victorian Aim|93DU98KT3NZCOW58|
|Jessie Mcallister|97UNNAT790E0WM4N|     Atune Endowment|HYENPHTT6GZ7O2WY|
|Jessie Mcallister|97UNNAT790E0WM4N| Industrial Opinions|BQMPJF0W2Z2E0PEW|
|Jessie Mcallister|97UNNAT790E0WM4N|        Regional Art|R7ID6873ITH6GCLJ|
|      Lois Bowers|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|W2X6NP1JBOKWCO33|
+-----------------+----------------+--------------------+----------------+
only showing top 20 rows

In [0]:
df.head()

Out[16]: Row(_c0='Sales Rep', _c1='Sales Rep Id', _c2='Company Name', _c3='Company Id')

In [0]:
df.printSchema() # same as info() in pandas dataframe
# by default the datatypr of column in string in pyspark dataframe

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [0]:
# but of we set inferschema = 1 we will get the original datatype of column 
spark.read.csv('/FileStore/tables/SalesTeam-4.csv',inferSchema = True)

Out[28]: DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [0]:
# setting 1st row as header
spark.read.option('header','true').csv('/FileStore/tables/SalesTeam-4.csv')

Out[52]: DataFrame[Sales Rep: string, Sales Rep Id: string, Company Name: string, Company Id: string]

In [0]:
type(dataframe)

Out[23]: pyspark.sql.dataframe.DataFrame

In [0]:
df.head()

Out[30]: Row(_c0='Sales Rep', _c1='Sales Rep Id', _c2='Company Name', _c3='Company Id')

In [0]:
# selecting multiple rows
df.head(5)

Out[31]: [Row(_c0='Sales Rep', _c1='Sales Rep Id', _c2='Company Name', _c3='Company Id'),
 Row(_c0='Jessie Mcallister', _c1='97UNNAT790E0WM4N', _c2='Chimera-Chasing Casbah', _c3='LJKS5NK6788CYMUU'),
 Row(_c0='Jessie Mcallister', _c1='97UNNAT790E0WM4N', _c2='Tangential Sheds', _c3='36MFTZOYMTAJP1RK'),
 Row(_c0='Jessie Mcallister', _c1='97UNNAT790E0WM4N', _c2='Two-Mile Grab', _c3='H3JRC7XX7WJAD4ZO'),
 Row(_c0='Jessie Mcallister', _c1='97UNNAT790E0WM4N', _c2="Three-Men-And-A-Helper Congo'S", _c3='HB25MDZR0MGCQUGX')]

In [0]:
# selecting a single column from dataframe
df.select('_c2').show()

+--------------------+
|                 _c2|
+--------------------+
|        Company Name|
|Chimera-Chasing C...|
|    Tangential Sheds|
|       Two-Mile Grab|
|Three-Men-And-A-H...|
|Biophysical Battl...|
|    Verbal Greenwich|
|Unpremeditated He...|
|    Excitatory Joint|
|          Dandy Fist|
|      Various Caesar|
|Unhesitant Caperc...|
|Priestly Item-Cat...|
|Paleocortical Boa...|
|Editorial Paintbrush|
|       Victorian Aim|
|     Atune Endowment|
| Industrial Opinions|
|        Regional Art|
|Fantastic Re-Enac...|
+--------------------+
only showing top 20 rows

In [0]:
type(df.select('_c2'))

Out[44]: pyspark.sql.dataframe.DataFrame

In [0]:
# selecting multiple columns 
df.select(['_c1','_c2']).show()

+----------------+--------------------+
|             _c1|                 _c2|
+----------------+--------------------+
|    Sales Rep Id|        Company Name|
|97UNNAT790E0WM4N|Chimera-Chasing C...|
|97UNNAT790E0WM4N|    Tangential Sheds|
|97UNNAT790E0WM4N|       Two-Mile Grab|
|97UNNAT790E0WM4N|Three-Men-And-A-H...|
|97UNNAT790E0WM4N|Biophysical Battl...|
|97UNNAT790E0WM4N|    Verbal Greenwich|
|97UNNAT790E0WM4N|Unpremeditated He...|
|97UNNAT790E0WM4N|    Excitatory Joint|
|97UNNAT790E0WM4N|          Dandy Fist|
|97UNNAT790E0WM4N|      Various Caesar|
|97UNNAT790E0WM4N|Unhesitant Caperc...|
|97UNNAT790E0WM4N|Priestly Item-Cat...|
|97UNNAT790E0WM4N|Paleocortical Boa...|
|97UNNAT790E0WM4N|Editorial Paintbrush|
|97UNNAT790E0WM4N|       Victorian Aim|
|97UNNAT790E0WM4N|     Atune Endowment|
|97UNNAT790E0WM4N| Industrial Opinions|
|97UNNAT790E0WM4N|        Regional Art|
|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|
+----------------+--------------------+
only showing top 20 rows

In [0]:
df.dtypes

Out[49]: [('_c0', 'string'), ('_c1', 'string'), ('_c2', 'string'), ('_c3', 'string')]

In [0]:
df.describe().show()

+-------+---------------+----------------+----------------+----------------+
|summary|            _c0|             _c1|             _c2|             _c3|
+-------+---------------+----------------+----------------+----------------+
|  count|           4726|            4726|            4726|            4726|
|   mean|           null|            null|            null|            null|
| stddev|           null|            null|            null|            null|
|    min|     Ada Pappas|05USHZ7BLRS3JV37|       '48 Wills|007RF0BCBVMXTL80|
|    max|Yolanda Decarlo|ZWT68Z5JHHDHQKRJ|Zodiacal Roberts|ZZYB9JLJKXRH7U6O|
+-------+---------------+----------------+----------------+----------------+

In [0]:
df.show()

+-----------------+----------------+--------------------+----------------+
|              _c0|             _c1|                 _c2|             _c3|
+-----------------+----------------+--------------------+----------------+
|        Sales Rep|    Sales Rep Id|        Company Name|      Company Id|
|Jessie Mcallister|97UNNAT790E0WM4N|Chimera-Chasing C...|LJKS5NK6788CYMUU|
|Jessie Mcallister|97UNNAT790E0WM4N|    Tangential Sheds|36MFTZOYMTAJP1RK|
|Jessie Mcallister|97UNNAT790E0WM4N|       Two-Mile Grab|H3JRC7XX7WJAD4ZO|
|Jessie Mcallister|97UNNAT790E0WM4N|Three-Men-And-A-H...|HB25MDZR0MGCQUGX|
|Jessie Mcallister|97UNNAT790E0WM4N|Biophysical Battl...|7RVA8TIVBLBXMNO4|
|Jessie Mcallister|97UNNAT790E0WM4N|    Verbal Greenwich|KKM6EZRN9W5NYXP6|
|Jessie Mcallister|97UNNAT790E0WM4N|Unpremeditated He...|NBJDWUB8J2DHLH29|
|Jessie Mcallister|97UNNAT790E0WM4N|    Excitatory Joint|D3Q0HECTK80RRGGO|
|Jessie Mcallister|97UNNAT790E0WM4N|          Dandy Fist|KGJBNJQHPF0WZ6SI|
|Jessie Mcallister|97UNNAT790E0WM4N|      Various Caesar|7FLAHMERFCITB6RT|
|Jessie Mcallister|97UNNAT790E0WM4N|Unhesitant Caperc...|JYRK7UHZXGX4DLSX|
|Jessie Mcallister|97UNNAT790E0WM4N|Priestly Item-Cat...|TAW7IY2L2IKUCCGC|
|Jessie Mcallister|97UNNAT790E0WM4N|Paleocortical Boa...|NUQS9SHQH6IU92V8|
|Jessie Mcallister|97UNNAT790E0WM4N|Editorial Paintbrush|PQ79N68UEQ9FFCPU|
|Jessie Mcallister|97UNNAT790E0WM4N|       Victorian Aim|93DU98KT3NZCOW58|
|Jessie Mcallister|97UNNAT790E0WM4N|     Atune Endowment|HYENPHTT6GZ7O2WY|
|Jessie Mcallister|97UNNAT790E0WM4N| Industrial Opinions|BQMPJF0W2Z2E0PEW|
|Jessie Mcallister|97UNNAT790E0WM4N|        Regional Art|R7ID6873ITH6GCLJ|
|      Lois Bowers|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|W2X6NP1JBOKWCO33|
+-----------------+----------------+--------------------+----------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import rand
# adding new column
df = df.withColumn("col5", rand())

In [0]:
df.show()

+-----------------+----------------+--------------------+----------------+--------------------+
|              _c0|             _c1|                 _c2|             _c3|                col5|
+-----------------+----------------+--------------------+----------------+--------------------+
|        Sales Rep|    Sales Rep Id|        Company Name|      Company Id|  0.9671990573175189|
|Jessie Mcallister|97UNNAT790E0WM4N|Chimera-Chasing C...|LJKS5NK6788CYMUU|  0.6711586585270226|
|Jessie Mcallister|97UNNAT790E0WM4N|    Tangential Sheds|36MFTZOYMTAJP1RK|  0.5340019006824284|
|Jessie Mcallister|97UNNAT790E0WM4N|       Two-Mile Grab|H3JRC7XX7WJAD4ZO|  0.6898926939926296|
|Jessie Mcallister|97UNNAT790E0WM4N|Three-Men-And-A-H...|HB25MDZR0MGCQUGX|  0.5960885706974687|
|Jessie Mcallister|97UNNAT790E0WM4N|Biophysical Battl...|7RVA8TIVBLBXMNO4| 0.05707034226901664|
|Jessie Mcallister|97UNNAT790E0WM4N|    Verbal Greenwich|KKM6EZRN9W5NYXP6| 0.07301077562106217|
|Jessie Mcallister|97UNNAT790E0WM4N|Unpremeditated He...|NBJDWUB8J2DHLH29|0.015745273056409825|
|Jessie Mcallister|97UNNAT790E0WM4N|    Excitatory Joint|D3Q0HECTK80RRGGO|   0.651805233546866|
|Jessie Mcallister|97UNNAT790E0WM4N|          Dandy Fist|KGJBNJQHPF0WZ6SI| 0.13643496444896386|
|Jessie Mcallister|97UNNAT790E0WM4N|      Various Caesar|7FLAHMERFCITB6RT| 0.42292734963739265|
|Jessie Mcallister|97UNNAT790E0WM4N|Unhesitant Caperc...|JYRK7UHZXGX4DLSX|  0.3766308154121639|
|Jessie Mcallister|97UNNAT790E0WM4N|Priestly Item-Cat...|TAW7IY2L2IKUCCGC|  0.3392129970082278|
|Jessie Mcallister|97UNNAT790E0WM4N|Paleocortical Boa...|NUQS9SHQH6IU92V8|  0.7264575824393447|
|Jessie Mcallister|97UNNAT790E0WM4N|Editorial Paintbrush|PQ79N68UEQ9FFCPU|  0.5225080549566353|
|Jessie Mcallister|97UNNAT790E0WM4N|       Victorian Aim|93DU98KT3NZCOW58|  0.7555757954651369|
|Jessie Mcallister|97UNNAT790E0WM4N|     Atune Endowment|HYENPHTT6GZ7O2WY|  0.7056140558208421|
|Jessie Mcallister|97UNNAT790E0WM4N| Industrial Opinions|BQMPJF0W2Z2E0PEW| 0.20122172712729103|
|Jessie Mcallister|97UNNAT790E0WM4N|        Regional Art|R7ID6873ITH6GCLJ|  0.2951890648936545|
|      Lois Bowers|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|W2X6NP1JBOKWCO33|  0.2816602602899758|
+-----------------+----------------+--------------------+----------------+--------------------+
only showing top 20 rows

In [0]:
# drop column 
df = df.drop("col5")

In [0]:
df.show()

+-----------------+----------------+--------------------+----------------+
|              _c0|             _c1|                 _c2|             _c3|
+-----------------+----------------+--------------------+----------------+
|        Sales Rep|    Sales Rep Id|        Company Name|      Company Id|
|Jessie Mcallister|97UNNAT790E0WM4N|Chimera-Chasing C...|LJKS5NK6788CYMUU|
|Jessie Mcallister|97UNNAT790E0WM4N|    Tangential Sheds|36MFTZOYMTAJP1RK|
|Jessie Mcallister|97UNNAT790E0WM4N|       Two-Mile Grab|H3JRC7XX7WJAD4ZO|
|Jessie Mcallister|97UNNAT790E0WM4N|Three-Men-And-A-H...|HB25MDZR0MGCQUGX|
|Jessie Mcallister|97UNNAT790E0WM4N|Biophysical Battl...|7RVA8TIVBLBXMNO4|
|Jessie Mcallister|97UNNAT790E0WM4N|    Verbal Greenwich|KKM6EZRN9W5NYXP6|
|Jessie Mcallister|97UNNAT790E0WM4N|Unpremeditated He...|NBJDWUB8J2DHLH29|
|Jessie Mcallister|97UNNAT790E0WM4N|    Excitatory Joint|D3Q0HECTK80RRGGO|
|Jessie Mcallister|97UNNAT790E0WM4N|          Dandy Fist|KGJBNJQHPF0WZ6SI|
|Jessie Mcallister|97UNNAT790E0WM4N|      Various Caesar|7FLAHMERFCITB6RT|
|Jessie Mcallister|97UNNAT790E0WM4N|Unhesitant Caperc...|JYRK7UHZXGX4DLSX|
|Jessie Mcallister|97UNNAT790E0WM4N|Priestly Item-Cat...|TAW7IY2L2IKUCCGC|
|Jessie Mcallister|97UNNAT790E0WM4N|Paleocortical Boa...|NUQS9SHQH6IU92V8|
|Jessie Mcallister|97UNNAT790E0WM4N|Editorial Paintbrush|PQ79N68UEQ9FFCPU|
|Jessie Mcallister|97UNNAT790E0WM4N|       Victorian Aim|93DU98KT3NZCOW58|
|Jessie Mcallister|97UNNAT790E0WM4N|     Atune Endowment|HYENPHTT6GZ7O2WY|
|Jessie Mcallister|97UNNAT790E0WM4N| Industrial Opinions|BQMPJF0W2Z2E0PEW|
|Jessie Mcallister|97UNNAT790E0WM4N|        Regional Art|R7ID6873ITH6GCLJ|
|      Lois Bowers|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|W2X6NP1JBOKWCO33|
+-----------------+----------------+--------------------+----------------+
only showing top 20 rows

In [0]:
# rename a column 
df = df.withColumnRenamed("_c0","Employee_name")

In [0]:
df.show()

+-----------------+----------------+--------------------+----------------+
|    Employee_name|             _c1|                 _c2|             _c3|
+-----------------+----------------+--------------------+----------------+
|        Sales Rep|    Sales Rep Id|        Company Name|      Company Id|
|Jessie Mcallister|97UNNAT790E0WM4N|Chimera-Chasing C...|LJKS5NK6788CYMUU|
|Jessie Mcallister|97UNNAT790E0WM4N|    Tangential Sheds|36MFTZOYMTAJP1RK|
|Jessie Mcallister|97UNNAT790E0WM4N|       Two-Mile Grab|H3JRC7XX7WJAD4ZO|
|Jessie Mcallister|97UNNAT790E0WM4N|Three-Men-And-A-H...|HB25MDZR0MGCQUGX|
|Jessie Mcallister|97UNNAT790E0WM4N|Biophysical Battl...|7RVA8TIVBLBXMNO4|
|Jessie Mcallister|97UNNAT790E0WM4N|    Verbal Greenwich|KKM6EZRN9W5NYXP6|
|Jessie Mcallister|97UNNAT790E0WM4N|Unpremeditated He...|NBJDWUB8J2DHLH29|
|Jessie Mcallister|97UNNAT790E0WM4N|    Excitatory Joint|D3Q0HECTK80RRGGO|
|Jessie Mcallister|97UNNAT790E0WM4N|          Dandy Fist|KGJBNJQHPF0WZ6SI|
|Jessie Mcallister|97UNNAT790E0WM4N|      Various Caesar|7FLAHMERFCITB6RT|
|Jessie Mcallister|97UNNAT790E0WM4N|Unhesitant Caperc...|JYRK7UHZXGX4DLSX|
|Jessie Mcallister|97UNNAT790E0WM4N|Priestly Item-Cat...|TAW7IY2L2IKUCCGC|
|Jessie Mcallister|97UNNAT790E0WM4N|Paleocortical Boa...|NUQS9SHQH6IU92V8|
|Jessie Mcallister|97UNNAT790E0WM4N|Editorial Paintbrush|PQ79N68UEQ9FFCPU|
|Jessie Mcallister|97UNNAT790E0WM4N|       Victorian Aim|93DU98KT3NZCOW58|
|Jessie Mcallister|97UNNAT790E0WM4N|     Atune Endowment|HYENPHTT6GZ7O2WY|
|Jessie Mcallister|97UNNAT790E0WM4N| Industrial Opinions|BQMPJF0W2Z2E0PEW|
|Jessie Mcallister|97UNNAT790E0WM4N|        Regional Art|R7ID6873ITH6GCLJ|
|      Lois Bowers|RRD2R9XMAJDP7TUY|Fantastic Re-Enac...|W2X6NP1JBOKWCO33|
+-----------------+----------------+--------------------+----------------+
only showing top 20 rows

In [0]:
df.describe()

Out[105]: DataFrame[summary: string, Employee_name: string, _c1: string, _c2: string, _c3: string]

In [0]:
#employees = spark.read.option('header','true').csv('/FileStore/tables/SalesTeam-4.csv')

employees = spark.read.csv('/FileStore/tables/dummy_employee___Sheet1-1.csv',header = True, inferSchema=True)

In [0]:
employees.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Alice|  34|        10| 75000|
|  Benny|  45|        10| 70000|
|Crystal|  30|         6| 69000|
|  Diana|  29|         7| 67000|
|  Gargi|  27|         3| 50000|
|  Henry|  21|         1| 45000|
|    Joe|null|      null| 30000|
|   null|  45|        10| 25000|
|   null|  35|      null|  null|
+-------+----+----------+------+

In [0]:
# droping rows with null values 
employees.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Alice| 34|        10| 75000|
|  Benny| 45|        10| 70000|
|Crystal| 30|         6| 69000|
|  Diana| 29|         7| 67000|
|  Gargi| 27|         3| 50000|
|  Henry| 21|         1| 45000|
+-------+---+----------+------+

In [0]:
# how parameter in na.drop
employees.na.drop(how = "all").show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Alice|  34|        10| 75000|
|  Benny|  45|        10| 70000|
|Crystal|  30|         6| 69000|
|  Diana|  29|         7| 67000|
|  Gargi|  27|         3| 50000|
|  Henry|  21|         1| 45000|
|    Joe|null|      null| 30000|
|   null|  45|        10| 25000|
|   null|  35|      null|  null|
+-------+----+----------+------+

In [0]:
employees.na.drop(how="any").show() # default

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Alice| 34|        10| 75000|
|  Benny| 45|        10| 70000|
|Crystal| 30|         6| 69000|
|  Diana| 29|         7| 67000|
|  Gargi| 27|         3| 50000|
|  Henry| 21|         1| 45000|
+-------+---+----------+------+

In [0]:
employees.na.drop(how="any",thresh=3).show() # dont drop rows containing atleast 3 non-null values

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Alice| 34|        10| 75000|
|  Benny| 45|        10| 70000|
|Crystal| 30|         6| 69000|
|  Diana| 29|         7| 67000|
|  Gargi| 27|         3| 50000|
|  Henry| 21|         1| 45000|
|   null| 45|        10| 25000|
+-------+---+----------+------+

In [0]:
employees.na.drop(subset= ['salary']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Alice|  34|        10| 75000|
|  Benny|  45|        10| 70000|
|Crystal|  30|         6| 69000|
|  Diana|  29|         7| 67000|
|  Gargi|  27|         3| 50000|
|  Henry|  21|         1| 45000|
|    Joe|null|      null| 30000|
|   null|  45|        10| 25000|
+-------+----+----------+------+

In [0]:
employees.na.drop(thresh = 2).show() # atleast 2 non-null values should be present in Name column

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  Alice|  34|        10| 75000|
|  Benny|  45|        10| 70000|
|Crystal|  30|         6| 69000|
|  Diana|  29|         7| 67000|
|  Gargi|  27|         3| 50000|
|  Henry|  21|         1| 45000|
|    Joe|null|      null| 30000|
|   null|  45|        10| 25000|
+-------+----+----------+------+

In [0]:
df = employees.na.fill('Missing name')

In [0]:
from pyspark.ml.feature import Imputer

In [0]:
# filling the null values with mean 
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean") # we can wrte median also in place of mean


df = imputer.fit(employees).transform(employees)

In [0]:
df.show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Alice|  34|        10| 75000|         34|                10|         75000|
|  Benny|  45|        10| 70000|         45|                10|         70000|
|Crystal|  30|         6| 69000|         30|                 6|         69000|
|  Diana|  29|         7| 67000|         29|                 7|         67000|
|  Gargi|  27|         3| 50000|         27|                 3|         50000|
|  Henry|  21|         1| 45000|         21|                 1|         45000|
|    Joe|null|      null| 30000|         33|                 6|         30000|
|   null|  45|        10| 25000|         45|                10|         25000|
|   null|  35|      null|  null|         35|                 6|         53875|
+-------+----+----------+------+-----------+------------------+--------------+

In [0]:
# pyspark filter operations 

# find the information of employees whose salary <= 30000

employees.filter('Salary<=30000').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Joe|null|      null| 30000|
|null|  45|        10| 25000|
+----+----+----------+------+

In [0]:
# select name and age of employees whose salary is less than 30000
employees.filter('Salary<=30000').select(['Name','Age']).show()

+----+----+
|Name| Age|
+----+----+
| Joe|null|
|null|  45|
+----+----+

In [0]:
# filtering records with multiple conditions 
employees.filter((employees['Salary']<=50000) & (employees['Age']>=30)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|null| 45|        10| 25000|
+----+---+----------+------+

In [0]:
# group by and aggregate function on dataframe

df_employee = spark.read.csv('/FileStore/tables/dummy_employee_dataset___Sheet1.csv',header=True,inferSchema=True)

In [0]:
df_employee.show()

+-------+---+----------+------+-----------+
|   Name|Age|Experience|Salary| Department|
+-------+---+----------+------+-----------+
|  Alice| 34|        10| 75000|         HR|
|  Benny| 45|        10| 70000|Development|
|Crystal| 30|         6| 69000|         HR|
|  Diana| 29|         7| 67000|    Finance|
|  Gargi| 27|         3| 50000|  Marketing|
|  Henry| 21|         1| 45000|  Marketing|
|    Joe| 30|         3| 50000|Development|
+-------+---+----------+------+-----------+

In [0]:
# average salary in each department 
df_employee.groupBy('Department').avg('Salary').show()

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|         HR|    72000.0|
|    Finance|    67000.0|
|  Marketing|    47500.0|
|Development|    60000.0|
+-----------+-----------+

In [0]:
# number of employees in each department
df_employee.groupBy('Department').count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|         HR|    2|
|    Finance|    1|
|  Marketing|    2|
|Development|    2|
+-----------+-----+

In [0]:
# maximum salary in each department
df_employee.groupBy('Department').max('Salary').show()

+-----------+-----------+
| Department|max(Salary)|
+-----------+-----------+
|         HR|      75000|
|    Finance|      67000|
|  Marketing|      50000|
|Development|      70000|
+-----------+-----------+

In [0]:
# name of employee having maximum salary group by department
df_employee.groupBy('Department').max('Salary').show()

+-----------+-----------+
| Department|max(Salary)|
+-----------+-----------+
|         HR|      75000|
|    Finance|      67000|
|  Marketing|      50000|
|Development|      70000|
+-----------+-----------+